.item ion-thumbnail {
  min-width: 5rem;
  min-height: 5rem;
  img {
      max-width: 4rem;
      min-width: 4rem;
      max-height: 4rem;
      min-height: 4rem;
  }
}

.status-true {
  color: color($colors, status-true) !important;
}
